
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    min-width: 75%;
}

#Calc{ 
    text-align: center;
    
    border-radius: 2%;
    font-size: 2em;
    font-weight: bolder;
}
#errorMsg{
    margin: 0%;
    font-style: normal;
    font-size:medium;
    color: red;
}
#input{
    text-align: end;
    height:75px;
    width:379px;
    word-wrap: break-word;
    font-size: larger;
}
#res{
    border-bottom: 2px solid grey;
    text-align: end;
    height:50px;
    margin-top: 0px;
    margin-bottom: 5%;
    position: relative;
}

#button-group button{
    border-radius: 50%;
    background-color: rgb(140, 163, 232);
    color: white;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 80px;
    width: 80px;
    box-shadow: 0 2px 4px darkslategray;
    margin:5px 0px;
}
@media only screen and (max-width: 350px) {
   #main{
    margin:0%;
   }
   body{
    background-color: black;
   }

  }




